/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('images/2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background: linear-gradient(135deg, #00467f, #0af);
    padding: 1px 1px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000;
}

header h1 {
    font-size: 40px;
    font-weight: 700;
}

header h1 span {
    font-weight: 500;
    font-size: 40px;
    opacity: 0.9;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.95);
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

nav a {
    text-decoration: none;
    color: #00467f;
    font-weight: 600;
    margin: 0 20px;
    padding: 10px 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

nav a:hover, nav a.active{
    background: #00467f;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(0, 70, 127, 0.3);
}

h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 32px;
    color: white;
}

/* Container */
.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    margin-top: 30px;
}

.hospital-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

.hospital {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hospital:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hospital a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #0073e6;
    display: block;
    transition: color 0.3s;
}

.hospital a:hover {
    color: #005bb5;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background: #00467f;
    color: #fff;
    margin-top: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
